<mat-toolbar color="primary">
    <mat-toolbar-row>
  
      <span style="cursor: pointer;" routerLink="/">BookMyTicket</span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
  
      <div class="header">
        <ul cllass="list-group pt-2 pl-4 pb-2 text m-0">
          <li><a routerLink="filter/letest"> Letest-Movies</a></li>
          <li><a routerLink="filter/upcoming"> Upcoming-Movies</a></li>
          <li><a routerLink="filter/popular"> Popular-Series</a></li>
          <li><a routerLink="filter/now_playing"> Now-Playing</a></li>
          <li><a routerLink="filter/video"> Video-player</a></li>
          
          <!-- <li><input type="text" class="Search" placeholder="Search for Movies..." ></li>
          <li><span> <button type="button" class="btn btn-md btn-danger">Go!</button></span></li>
        -->
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
