<app-header></app-header>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <app-center-header></app-center-header>
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <div class="footer">
    <div class="row">
      <div class="col-md-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>


<!-- search box create, page not found, media query, multi list slide, dynamic slide show, -->