.col-md-8{
    color: white;
}
span{
    padding-left: 80px;   
}
.col-md-12{
    color: wheat;
    margin-bottom: 0px;
    margin-top: 20px;
}
.illipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 8em;
}
.btn-sm a{
    text-decoration: none;
    color: white;
}
h1{
    color:white;
}